{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <img src="../media/abstract-art.jpg" class="d-block w-100" alt="abstract-art">
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img src="../media/nft.jpg" class="d-block w-100" alt="NFT-art">
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img src="../media/Lofi-livingroom.jpg" class="d-block w-100" alt="Lofi-art">
          </div>
        </div>
      </div>
      <script>
        const myCarouselElement = document.querySelector('#carouselExampleDark')
        const carousel = new bootstrap.Carousel(myCarouselElement, {
        interval: 4000,
        wrap: true
        })
      </script>
       <h1 class="text-center my-5">About This Site</h1>
       <hr class="w-50 mb-1">
       <div class="text-center container my-5">
        <p>This website serves as an online marketplace for a digital artist, where a variety of art pieces are available for browsing and selection. It should be noted that the artwork presented on this site is part of a test store project and is not available for purchase at this time, as it was created as part of a course.</p>
       </div>
       <hr class="w-50 mb-1">
       <div class="card-deck my-5 mx-5">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">Abstract Art</h5>
            </div>
            <p class="card-text bg-secondary text-white px-5 py-5">The abstract art featured on our website is intended for individuals who appreciate visually striking images and are seeking to enhance their surroundings, whether it be as a wallpaper or simply as a decorative piece.</p>
            <div class="text-center">
              <a href="{% url 'products' %}" class="card-link">Abstract Art</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">NFT Art</h5>
            </div>
            <p class="card-text bg-secondary text-white px-5 py-5">I sourced the NFT art from a website called Free Pik and incorporated it into this project as I believed it would appeal to individuals interested in the emerging realm of web3 technology</p>
            <div class="text-center">
              <a href="{% url 'products' %}" class="card-link">NFT Art</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h5 class="card-title">Lofi Art</h5>
            </div>
            <p class="card-text bg-secondary text-white px-5 py-5">The lo-fi art featured on this website has always been a personal passion of mine. As I am able to dedicate more time to my art pursuits, I am eager to turn this site into an online storefront where I can offer my art pieces for purchase and give others the opportunity to appreciate and enjoy them.</p>
            <div class="text-center">
              <a href="{% url 'products' %}" class="card-link">Lofi Art</a>
            </div>
          </div>
        </div>
      </div>   
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}
